* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #557B83;
}

.col {
    height: 100px;
}

.play-section {
    position: absolute;
    z-index: 99999;
}

.container {
    opacity: 0;
    pointer-events: none;
}

.play-btn {
    background-color: #E5EFC1;
    color: black;
    width: 150px;
}
.play-btn:hover {
    border: 1px solid #e7f4b5;
    background-color: #e7f4b5;
    color: #557B83;
}