* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #557B83;
    font-family: 'Josefin Sans', sans-serif;
}

.col {
    height: 100px;
}

.play-section {
    position: absolute;
    z-index: 99999;
    bottom: 150px;
}

.container {
    opacity: 0;
    pointer-events: none;
}

.play-btn {
    /* position: absolute; */
    color: #557B83;
    width: 290px;
    /* left: 105px; */
}